
@{
    ViewBag.Title = "Index";
}

<!--main content start-->
<section class="wrapper">
    <div class="row">
        <div class="col-lg-12">
            <ol class="breadcrumb">
                <li><i class="fa fa-home"></i><a href="index1.html">Trang chủ</a></li>
                <li><i class="fa fa-list-alt"></i>Quản lý danh mục</li>
                <li>Nhà cung cấp</li>
            </ol>
        </div>
    </div>
    <!-- page start-->
    <div class="row">
        <div class="col-lg-12">
            <section class="panel">
                <header class="panel-heading">
                    <h2><strong>Danh sách tỉnh, thành phố</strong></h2>
                    <div class="button-ds">
                        <a class="btn btn-primary btn-sm" href="nhacungcap.html">Thêm mới</a>
                        <a class="btn btn-danger btn-sm" href="">Xóa</a>
                    </div>
                </header>
                <div class="table-responsive ">
                    <table class="table table-bordered">
                        <thead style="font-size:18px;">
                            <tr>
                                <th class="kc" style="width:10px;"><input type="checkbox" id="inlineCheckbox1" value="option1"></th>
                                <th class="kc">#</th>
                                <th class="kc">Mã nhà cung cấp</th>
                                <th class="kc">Tên nhà cung cấp</th>
                                <th class="kc">Điện thoại</th>
                                <th class="kc">Địa chỉ</th>
                                <th class="kc">Thành phố</th>
                                <th class="kc">Quốc gia</th>
                                <th class="kc">Trạng thái</th>
                                <th class="kc" style="min-width:50px;">Hành động</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th class="kc"><input type="checkbox" id="inlineCheckbox1" value="option1"></th>
                                <td class="kc">1</td>
                                <td class="kc">Table cell</td>
                                <td class="kc">Table cell</td>
                                <td class="kc">Table cell</td>
                                <td class="kc">Table cell</td>
                                <td class="kc">Table cell</td>
                                <td class="kc">Table cell</td>
                                <td class="kc"><input type="checkbox" id="inlineCheckbox1" value="option1"></td>
                                <td>
                                    <div class="kc">
                                        <a href="" class="btn btn-default btn-sm tooltips" data-placement="top" data-toggle="tooltip" data-original-title="Xem chi tiết">
                                            <i class="fa fa-info"></i>
                                        </a>
                                        <a href="" class="btn btn-info btn-sm tooltips" data-placement="top" data-toggle="tooltip" data-original-title="Chỉnh sửa">
                                            <i class="fa fa-pencil"></i>
                                        </a>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <th class="kc"><input type="checkbox" id="inlineCheckbox1" value="option1"></th>
                                <td class="kc">2</td>
                                <td class="kc">Table cell</td>
                                <td class="kc">Table cell</td>
                                <td class="kc">Table cell</td>
                                <td class="kc">Table cell</td>
                                <td class="kc">Table cell</td>
                                <td class="kc">Table cell</td>
                                <td class="kc"><input type="checkbox" id="inlineCheckbox1" value="option1"></td>
                                <td>
                                    <div class="kc">
                                        <a href="" class="btn btn-default btn-sm tooltips" data-placement="top" data-toggle="tooltip" data-original-title="Xem chi tiết">
                                            <i class="fa fa-info"></i>
                                        </a>
                                        <a href="" class="btn btn-info btn-sm tooltips" data-placement="top" data-toggle="tooltip" data-original-title="Chỉnh sửa">
                                            <i class="fa fa-pencil"></i>
                                        </a>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <th class="kc"><input type="checkbox" id="inlineCheckbox1" value="option1"></th>
                                <td class="kc">3</td>
                                <td class="kc">Table cell</td>
                                <td class="kc">Table cell</td>
                                <td class="kc">Table cell</td>
                                <td class="kc">Table cell</td>
                                <td class="kc">Table cell</td>
                                <td class="kc">Table cell</td>
                                <td class="kc"><input type="checkbox" id="inlineCheckbox1" value="option1"></td>
                                <td>
                                    <div class="kc">
                                        <a href="" class="btn btn-default btn-sm tooltips" data-placement="top" data-toggle="tooltip" data-original-title="Xem chi tiết">
                                            <i class="fa fa-info"></i>
                                        </a>
                                        <a href="" class="btn btn-info btn-sm tooltips" data-placement="top" data-toggle="tooltip" data-original-title="Chỉnh sửa">
                                            <i class="fa fa-pencil"></i>
                                        </a>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>

            </section>
        </div>
    </div>
    <!-- page end-->
</section>
<!--main content end-->
