
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <!-- banner -->
<div class="banner">
    <!-- banner-text -->
    <div class="banner-text">
        <h4><span class="glyphicon glyphicon-phone"></span> +11 222 333 444</h4>
        <div class="flexslider">
            <ul class="slides">
                <li>
                    <h5>Duis euismod massa ut sem fringilla blandit </h5>
                    <h6>1</h6>
                    <h2>International Packers & Movers</h2>
                </li>
                <li>
                    <h5>Sem fringilla blandit duis euismod massa ut </h5>
                    <h6>1</h6>
                    <h3>Safe & Secure Transportation</h3>
                </li>
                <li>
                    <h5>Fringilla blandit duis euismod massa ut sem</h5>
                    <h6>1</h6>
                    <h3>We Are Best Moving Experts</h3>
                </li>
            </ul>
        </div>
    </div>
    <!-- //banner-text -->
</div>
<!-- //banner -->
<!-- gallery -->
<div id="gallery" class="gallery">
    <div class="container">
        <h3 class="w3title-agile">Danh Mục</h3>
    </div>
    <div class="gallery-grids">
        <div class="gallery-top-grids">
            <div class="col-sm-3 gallery-grids-left">
                <div class="gallery-grid">
                    <a class="example-image-link" href="/assets/client/images/g1.jpg" data-lightbox="example-set" data-title="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus vitae cursus ligula">
                        <img src="/assets/client/images/nha.jpg" alt="" />
                        <div class="w3captn-agileits">
                            <h4>Chợ tốt nhà</h4>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-sm-3 gallery-grids-left">
                <div class="gallery-grid">
                    <a class="example-image-link" href="/assets/client/images/g2.jpg" data-lightbox="example-set" data-title="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus vitae cursus ligula">
                        <img src="/assets/client/images/dodientu.jpg" alt="" />
                        <div class="w3captn-agileits">
                            <h4>Đồ điện tử</h4>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-sm-3 gallery-grids-left">
                <div class="gallery-grid">
                    <a class="example-image-link" href="/assets/client/images/g3.jpg" data-lightbox="example-set" data-title="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus vitae cursus ligula">
                        <img src="/assets/client/images/xe.jpg" alt="" />
                        <div class="w3captn-agileits">
                            <h4>Chợ tốt xe</h4>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-sm-3 gallery-grids-left">
                <div class="gallery-grid">
                    <a class="example-image-link" href="/assets/client/images/g4.jpg" data-lightbox="example-set" data-title="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus vitae cursus ligula">
                        <img src="/assets/client/images/thoitrang.jpg" alt="" />
                        <div class="w3captn-agileits">
                            <h4>Thời trang, đồ dùng cá nhân</h4>
                        </div>
                    </a>
                </div>
            </div>
            <div class="clearfix"> </div>
        </div>
        <div class="gallery-top-grids">
            <div class="col-sm-3 gallery-grids-left">
                <div class="gallery-grid">
                    <a class="example-image-link" href="/assets/client/images/g5.jpg" data-lightbox="example-set" data-title="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus vitae cursus ligula">
                        <img src="/assets/client/images/noithat.jpg" alt="" />
                        <div class="w3captn-agileits">
                            <h4>Nội ngoại thất, đồ gia dụng</h4>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-sm-3 gallery-grids-left">
                <div class="gallery-grid">
                    <a class="example-image-link" href="/assets/client/images/g6.jpg" data-lightbox="example-set" data-title="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus vitae cursus ligula">
                        <img src="/assets/client/images/giaitri.jpg" alt="" />
                        <div class="w3captn-agileits">
                            <h4>Giải trí, thể thao, sở thích</h4>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-sm-3 gallery-grids-left">
                <div class="gallery-grid">
                    <a class="example-image-link" href="/assets/client/images/g7.jpg" data-lightbox="example-set" data-title="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus vitae cursus ligula">
                        <img src="/assets/client/images/dovanphong.jpg" alt="" />
                        <div class="w3captn-agileits">
                            <h4>Đồ văn phòng, công nông nghiệp</h4>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-sm-3 gallery-grids-left">
                <div class="gallery-grid">
                    <a class="example-image-link" href="/assets/client/images/img1.jpg" data-lightbox="example-set" data-title="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus vitae cursus ligula">
                        <img src="/assets/client/images/vieclam.jpg" alt="" />
                        <div class="w3captn-agileits">
                            <h4>Việc làm dịch vụ</h4>
                        </div>
                    </a>
                </div>
            </div>
            <div class="clearfix"> </div>
        </div>
       
        <script src="js/lightbox-plus-jquery.min.js"> </script>
    </div>
</div>
<!-- //gallery -->
<!-- contact -->
<div class="contact">
    <div class="container">
        <h3 class="w3title-agile">Contact Us</h3>
        <form action="#" method="post">
            <div class="col-sm-6 contact-left">
                <input type="text" name="Name" placeholder="Your Name" required="">
                <input type="email" name="Email" placeholder="Email" required="">
                <input type="text" name="Mobile Number" placeholder="Mobile Number" required="">
            </div>
            <div class="col-sm-6 contact-right">
                <textarea name="Message" placeholder="Message" required=""></textarea>
                <input type="submit" value="Submit">
            </div>
            <div class="clearfix"></div>
        </form>
    </div>
</div>


